<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/community.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">SafeNest</div>
            
            <nav>
                <ul>
                    
                    <li><a href="#resources">Home</a></li>
                    <li><a href="#community">Contact Us</a></li>
                    <li><a href="#ai-guidance">About Us</a></li>
                    <li><a href="#emergency">Help</a></li>
                    <!-- <li><a href="#about">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header><hr>
    <form class="main" method="post" action="/dashboard/community" enctype="multipart/form-data">
    <div id="one">
        <label>Title</label>
        <textarea cols="40" rows="30" id="title" name="Title" placeholder="Enter your Title"></textarea>
        
        <!-- <input type="text" id="title" name="name" placeholder="Enter your Title"/> -->
    </div>
    <div id="two">
        <label>Content</label>
        <textarea cols="40" rows="30" id="bod" name="communityText" placeholder="Write your article / blog here"></textarea>
        
        <!-- <input type="text" id="bod" body="body" placeholder="Write your thoughts" > -->
    </div>
    <div id="three">
        <label>Upload image</label>
        <!-- <textarea cols="40" rows="30" id="bod" name="name" placeholder="Enter your Title"></textarea> -->
        
        <input type="file" name="Image">

    </div>
     <div class="button1">
        <button>Submit</button>
    </div>
    </form>
</body>
</html>