<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Resources</title>
    <link rel="stylesheet" href="/educational.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>SafeNest</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard/contact">Contact Us</a></li>
                    <li><a href="/dashboard/about">About Us</a></li>
                    <li><a href="/dashboard/help">Help</a></li>
                    {{#if user}}
                    <li><a href="/logout">logout</a></li>
                    {{/if}}
                    <!-- <li><a href="login.html">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>

    <div class="help">
        <h2 id="head">Post Your Experience Here – We're Here to Listen and Help</h2>
        <p style="color: #969695; font-size: 32px;">At SafeNest, we understand that life can sometimes feel overwhelming, and everyone faces challenges, big or small. Whether you're dealing with stress, confusion, relationship difficulties, or anything else, you're not alone. We're here to provide a safe space for you to express your thoughts and receive the support you deserve.</p>
        <a href="/dashboard/communityPost"><button id="butt">POST NOW !!!</button></a>
    </div>
    
    <section class="resources">
        <div class="container">
            <h2>Featured Resources</h2>
            {{#each articles}}
            <div class="resource-card">
                <h3>{{this.title}}</h3>
                <p>by ~ {{this.username}}</p>
                <a href="/dashboard/view{{this._id}}" class="btn">Read More</a>
            </div>
            {{/each}}
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 SafeNest. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
