<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if view}}
    <h1>{{view.title}}</h1>
    <p>by ~ {{view.username}}</p>
    <h4>{{view.content}}</h4>
    {{/if}}
</body>
</html>